/*============ AREA IMPORTS ============*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/*============ AREA GLOBAL STYLES ============*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Manrope", sans-serif;
}

/*============ AREA HEADER STYLES ============*/
header {
  padding: 4rem 2rem; /* ajustável conforme necessidade */
  background-image: url("img/bgHeader.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.headerTexts {
  margin: 236px 0 235px 121px;
}

.headerTitle {
  font-size: 64px;
  font-weight: 800;
  line-height: 82px;
}

.headerSubtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}
